# You can get these from the Stellar Laboratory
STELLAR_NETWORK=
STELLAR_NETWORK_PASSPHRASE=

# This represents an account with funds that will create the GAME MASTER account and pay relevant NFTs to it to begin the game
FUNDER_PUBLIC_KEY=
FUNDER_SECRET_KEY=
